@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* =========== Hero Section Styles ========= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.hero {
  margin-top: 0;
  background-image: url("../images/hero.jpg"), url("../images/shadow.png");
  width: 100%;
  height: 100vh;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-content {
  text-align: center;
  padding: 174px 307px 175px 307px;
}

.hero-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 10px;
}

.hero-description {
  font-family: "Poppins", sans-serif !important;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}

.btn-primary {
  padding: 12px 16px;
  background: #ff5959;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 20px;
}

/* =========== Donate Section Styles ========= */

.donate {
  padding: 120px 328px;
  text-align: center;
}

.donate-title {
  font-size: 40px;
  line-height: 50px;
  color: #121212;
  margin-bottom: 20px;
}

.donate-description {
  font-family: "Poppins";
  font-size: 18px;
  color: #707070;
}

.boxs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.box {
  background: #fafafa;
  border-radius: 5px;
  padding: 35px 25px;
}

.box:nth-child(2) {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
}

p {
  font-family: "Poppins";
  font-size: 18px;
}

.bd-tk {
  color: #707070;
  margin-top: 45px;
  margin-bottom: 5px;
}

.donate .btn-primary {
  margin-top: 25px;
}

/* ============ Donate Plane Section Style ============  */
.donate-plan-container {
  padding: 0px 150px;
  text-align: center;
}

.donate-plan-title {
  font-weight: 700;
  font-size: 40px;
  color: #121212;
  margin-bottom: 25px;
}

.donate-plan-description {
  font-size: 18px;
  line-height: 28px;
  color: #707070;
}

.plan-boxs {
  display: flex;
  gap: 24px;
  margin-top: 35px;
}

.plan-box {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
  padding: 50px 44px;
}

.plan-box img {
  margin-right: 100%;
  margin-bottom: 24px;
}

.plan-box-title {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}

.plan-box-description {
  text-align: left;
  margin-top: 18px;
}

.plan-box:nth-child(2) {
  background: rgba(255, 89, 89, 0.1);
  border-radius: 5px;
}
.plan-box:nth-child(3) {
  background: #fff4d6;
  border-radius: 5px;
}

/* ============ Lives Section Style ============  */

.lives {
  padding: 50px 150px;
}

.lives-container {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-top: 24px;
}

.lives-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.lives-description {
  font-size: 18px;
  color: #707070;
  margin-bottom: 20px;
}
