@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* =========== Hero Section Styles ========= */

.hero {
  margin-top: 0;
  background-image: url("../images/hero.jpg"), url("../images/shadow.png");
  width: 100%;
  height: 100vh;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-content {
  text-align: center;
  padding: 174px 307px 175px 307px;
}

.hero-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 10px;
}

.hero-description {
  font-family: "Poppins", sans-serif !important;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 15px;
}

.btn-primary {
  padding: 12px 16px;
  background: #ff5959;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

/* =========== Donate Section Styles ========= */

.donate {
  padding: 120px 328px;
  text-align: center;
}

.donate-title {
  font-size: 40px;
  line-height: 50px;
  color: #121212;
  margin-bottom: 20px;
}

.donate-description {
  font-family: "Poppins";
  font-size: 18px;
  color: #707070;
}

.boxs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.box {
  background: #fafafa;
  border-radius: 5px;
  padding: 35px 25px;
}

.box:nth-child(2) {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
}

p {
  font-family: "Poppins";
  font-size: 18px;
}

.bd-tk {
  color: #707070;
  margin-top: 45px;
  margin-bottom: 5px;
}

.donate .btn-primary {
  margin-top: 25px;
}
